---
import BaseLayout from "@layouts/BaseLayout.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";
import { Icon } from "astro-icon/components";
import LatestPosts from "@components/LatestPosts.astro";
import { getConstants } from "@consts";

const currentLocale = "zh";
const constants = getConstants(currentLocale);

const title = `关于 ${constants.SITE_TITLE}`;
const description = constants.SITE_DESCRIPTION;
const tabs = [
  {
    icon: "tabler:health-recognition",
    title: "愿景",
    content:
      "通过真实的见证和故事，传递耶稣基督复活的力量和同在，见证祂在现代生活中的作为，证明祂不仅是历史中的救主，更是今天活在我们当中的主。耶稣的爱、医治、供应和带领，不止停留在圣经中的文字里，而是真实地在我们生活中发生。",
    image:
      "https://images.unsplash.com/photo-1586928339731-7163f57d9469?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1pc3Npb258ZW58MHx8MHx8fDA%3D",
    imageAlt: "关于 愿景",
  },
  {
    icon: "tabler:location-question",
    title: "使命",
    content:
      "我们相信，通过记录并分享这些见证，将带给更多人盼望和信心，让每一个阅读到这些故事的人都能感受到耶稣的爱与能力，激励他们在自己的生命中也去经历主的恩典。这些见证如同星火，让人们看到基督的光辉，领悟祂是昨日、今日、直到永远的救主。。",
    image:
      "https://images.unsplash.com/photo-1518444133586-02e3d14055c1?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    imageAlt: "关于 使命",
  },
  {
    icon: "tabler:fish-christianity",
    title: "信仰",
    content:
      "我信上帝，全能的父，创造天地的主。我信我主耶稣基督，上帝的独生子；因圣灵感孕，由童贞女马利亚所生；在本丢·彼拉多手下受难，被钉于十字架，受死，埋葬，降在阴间；第三天从死里复活；他升天，坐在全能父上帝的右边；将来必从那里降临，审判活人死人。我信圣灵；我信圣而公之教会；我信圣徒相通；我信罪得赦免；我信身体复活；我信永生。阿们。",
    image:
      "https://plus.unsplash.com/premium_photo-1661928975475-57502a6e34a5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFpdGh8ZW58MHx8MHx8fDA%3D",
    imageAlt: "关于 信仰",
  },
];
---

<BaseLayout title={title} description={description}>
  <h1 class="sr-only">关于{constants.SITE_TITLE}</h1>
  <div
    class="grid rounded-lg bg-neutral-100 p-5 text-gray-600 dark:bg-neutral-800 lg:p-10"
  >
    {
      tabs.map((tab, i) => (
        <div class="lg:flex">
          <div class="flex-1 overflow-hidden rounded-xl p-2 sm:p-1">
            <img class="rounded-xl" src={tab.image} />
          </div>
          <div class="mb-5 flex-1 rounded-lg bg-white p-5 sm:px-2 lg:ml-5 lg:px-6">
            <div class="flex items-center justify-center">
              <Icon name={tab.icon} class="size-8 text-gray-600" />
              <span class="text-md flex-1 px-1 font-bold text-gray-600">
                {tab.title}
              </span>
            </div>
            <div class="mt-4">{tab.content}</div>
          </div>
        </div>
      ))
    }
  </div>
  <h2 class="sr-only">最新文章</h2>
  <LatestPosts currentLocale={currentLocale} />
</BaseLayout>
