---
import BaseLayout from "@layouts/BaseLayout.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";
import { Icon } from "astro-icon/components";
import LatestPosts from "@components/LatestPosts.astro";
import { getConstants } from "@consts";

const currentLocale = "en";
const constants = getConstants(currentLocale);

const title = `About ${constants.SITE_TITLE}`;
const description = constants.SITE_DESCRIPTION;
const tabs = [
  {
    icon: "tabler:health-recognition",
    title: "Vision",
    content:
      "To share true testimonies and stories that reveal the power and presence of the resurrected Jesus, demonstrating His work in our lives today. We aim to show that He is not only the Savior of history but also the Lord who walks with us here and now. Jesus’ love, healing, provision, and guidance are not just confined to the words of the Bible; they are alive and active in our everyday lives.",
    image:
      "https://images.unsplash.com/photo-1586928339731-7163f57d9469?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1pc3Npb258ZW58MHx8MHx8fDA%3D",
    imageAlt: "About Vision",
  },
  {
    icon: "tabler:location-question",
    title: "Mission",
    content:
      "We believe that by recording and sharing these testimonies, we bring hope and faith to others, allowing everyone who reads these stories to feel Jesus’ love and power and inspiring them to experience God’s grace in their own lives. Each testimony is like a spark, shedding light on the glory of Christ and reminding us that He is the Savior of yesterday, today, and forever.",
    image:
      "https://images.unsplash.com/photo-1518444133586-02e3d14055c1?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    imageAlt: "About Mission",
  },
  {
    icon: "tabler:fish-christianity",
    title: "Faith",
    content:
      "I believe in God, the Father Almighty, Creator of heaven and earth. I believe in Jesus Christ, His only Son, our Lord; who was conceived by the Holy Spirit, born of the Virgin Mary; suffered under Pontius Pilate, was crucified, died, and was buried; He descended to the dead; on the third day, He rose again; He ascended into heaven, and is seated at the right hand of God the Father Almighty; from there He will come to judge the living and the dead. I believe in the Holy Spirit, the holy catholic Church, the communion of saints, the forgiveness of sins, the resurrection of the body, and the life everlasting. Amen.",
    image:
      "https://plus.unsplash.com/premium_photo-1661928975475-57502a6e34a5?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFpdGh8ZW58MHx8MHx8fDA%3D",
    imageAlt: "About Faith",
  },
];
---

<BaseLayout title={title} description={description}>
  <h1 class="sr-only">关于{constants.SITE_TITLE}</h1>
  <div
    class="grid rounded-lg bg-neutral-100 p-5 text-gray-600 dark:bg-neutral-800 lg:p-10"
  >
    {
      tabs.map((tab, i) => (
        <div class="lg:flex">
          <div class="flex-1 overflow-hidden rounded-xl p-2 sm:p-1">
            <img class="rounded-xl" src={tab.image} />
          </div>
          <div class="mb-5 flex-1 rounded-lg bg-white p-5 sm:px-2 lg:ml-5 lg:px-6">
            <div class="flex items-center justify-center">
              <Icon name={tab.icon} class="size-8 text-gray-600" />
              <span class="text-md flex-1 px-1 font-bold text-gray-600">
                {tab.title}
              </span>
            </div>
            <div class="mt-4">{tab.content}</div>
          </div>
        </div>
      ))
    }
  </div>

  <h2 class="sr-only">Latest Posts</h2>
  <LatestPosts currentLocale={currentLocale} />
</BaseLayout>
